@model ELearningSystem.Models.Course



<div>
    <b>@Html.DisplayNameFor(model => model.Name)</b>
</div>
<div>
    @Html.DisplayFor(model => model.Name)
</div>
<div>
    <b> @Html.DisplayNameFor(model => model.Summary)</b>
</div>
<div>
    @Html.DisplayFor(model => model.Summary)
</div>

